<form [ngFormModel]="form" (ngSubmit)="changePassword()" autocomplete="off">
    <div class="form-group">
        <label for="current-password">
            Current Password
        </label>
        <input 
            #currentPassword="ngForm"
            ngControl="currentPassword"
            type="password" 
            class="form-control" 
            id="current-password">
    </div>
    {{ currentPassword.error | json }}
    <div *ngIf="currentPassword.touched && currentPassword.errors" >
        <div
            *ngIf="currentPassword.errors.required"  
            class="alert alert-danger">
            Current password required
        </div>
        <div
            *ngIf="currentPassword.errors.invalidCurrentPassword"  
            class="alert alert-danger">
            Current Password doesn't match
        </div>
    </div>
    <div class="form-group">
        <label for="new-password">
            New Password
        </label>
        <input 
            #newPassword="ngForm"
            ngControl="newPassword"
            type="password" 
            class="form-control" 
            id="new-password">
    </div>
    <div *ngIf="newPassword.touched && newPassword.errors" >
        <div
            *ngIf="newPassword.errors.required"  
            class="alert alert-danger">
            New password required
        </div>
        <div
            *ngIf="newPassword.errors.minlength"  
            class="alert alert-danger">
            New password should be mininum {{ newPassword.errors.minlength.requiredLength }} characters
        </div>
    </div>
    <div class="form-group">
        <label for="confirm-password">
            Confirm Password
        </label>
        <input 
            #confirmPassword="ngForm"
            ngControl="confirmPassword"
            type="password" 
            class="form-control"
            [class.ng-invalid]="form.hasError('mismatchedPasswords')"
            id="confirm-password">
    </div>
    
    <!--<div *ngIf="confirmPassword.touched && confirmPassword.errors" >
        <div
            *ngIf="confirmPassword.errors.required"  
            class="alert alert-danger">
            Confirm password required
        </div>
    </div>-->
    <div *ngIf="newPassword.touched && form.hasError('mismatchedPasswords')">        
        <div class="alert alert-danger">
            Passwords do not match.
        </div>
    </div>
    <button 
        class="btn btn-primary" 
        type="submit"
        [disabled]="!form.valid">Change Password</button>
</form>